<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Nicholas Ilechie</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">


					<!-- Start your code here -->
					<!-- Start of Tables Section -->
					<section class="table-section">
						<h2>Tables</h2>
						<table class="table table-bordered">
							<caption>Example 1 shows an HTML Table with a single row head and footer span accross 3 columns, and the first column 
								merged as two 2.
							</caption>
							<thead>
								<tr>
									<th colspan="3">Header Row</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">Row 1, Col 1</td>
									<td>Row 1, Col 2</td>
									<td>Row 1, Col 3</td>
								</tr>
								<tr>
									<td>Row 2, Col 2</td>
									<td>Row 2, Col 3</td>
								</tr>
								<tr>
									<td colspan="3">Footer Row</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Table 1 Footer</td>
								</tr>
							</tfoot>
						</table>
						<table class="table table-bordered">
							<caption>Example 2 shows an HTML Table with a three headers in 3 columns, having contents in 3 rows and 3 columns with a footer 
								spanning across 3 columns. Buy some Coins :) </caption>
							<thead>
								<tr>
									<th>Runes</th>
									<th>ERC-20</th>
									<th>Solana</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Dog-Go-To-The-Moon</td>
									<td>Lobo-The-Wolf-Pup</td>
									<td>RSIC</td>
								</tr>
								<tr>
									<td>Arbitrum</td>
									<td>Matic</td>
									<td>Injective</td>
								</tr>
								<tr>
									<td>Raydium</td>
									<td>Jupither</td>
									<td>Pyth</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Table 2 Footer</td>
								</tr>
							</tfoot>
						</table>
						<p>These tables demonstrate the use of caption, thead, tbody, tfoot, th, td, tr, 
							the "rowspan" property and the "colspan" property in HTML tables.</p>
					</section>
					<!-- End of Tables Section -->

					<!-- Start of Lists Section -->
					<section class="list-section">
						<h2>Lists</h2>
						<ol type="A">
							<li>Item 1</li>
							<li>Item 2</li>
							<li>
								Item 3 with sub-list unordered:
								<ul>
									<li>Nested Item 1</li>
									<li>Nested Item 2</li>
									<li>Nested Item 3</li>
								</ul>
							</li>
							<li>Item 4</li>
							<li>Item 5</li>
						</ol>
						<p>This section demonstrates the use of ordered list and unordered list type in making a list, here 
							we have a list with the ordered list type and a nested list with the unordered list type.</p>
					</section>
	
					<!-- End of List Section -->

					<!-- Start of Images Section -->
					<section class="image-section">
						<h2>Images</h2>
						<div class="row">
							<div class="col-md-4">
								<img src="https://cdn.pixabay.com/photo/2024/06/10/10/21/ai-generated-8820381_1280.jpg" class="rounded mx-auto d-block" width="400" alt="Ai Generated Children Snowman">
								<p>Ai Generated Children Snowman</p>
							</div>
							<div class="col-md-4">
								<img src="https://cdn.pixabay.com/photo/2023/12/03/04/42/ai-generated-8426870_1280.jpg" class="rounded mx-auto d-block" width="400" alt="Ai Generated Children Globe">
								<p>Ai Generated Children Globe</p>
							</div>
							<div class="col-md-4">
								<img src="https://cdn.pixabay.com/photo/2022/12/26/11/37/bitcoin-7678812_1280.jpg" class="rounded mx-auto d-block" width="400" alt="Bitcoin Crypto Mining ">
								<p>Bitcoin Crypto Mining </p>
							</div>
						</div>
						<p>In this section we displayed three images with appropriate alt text, this is the right way to attach photos in website page.</p>
					</section>
	
					<!-- End of Images Section -->

					<!-- Start of Audio Section -->
					<section class="audio-section">
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						</audio>
						<p>In this section we have attached an HTML5 audio player with two audio file formats.</p>
					</section>
					<!-- End of Audio Section -->

					<!-- Start of Video Section -->
					<section class="video-section">
						<h2>Video</h2>
						<video controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						</video>
						<p>In this section we feature an HTML5 video player with three sample video files formats.</p>
					</section>
					<!-- End of Video Section -->

					<!-- End your code here  -->	
					 
					

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>