@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Poppins:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #243B55, #141E30);
    color: #ECEFF1;
    background-attachment: fixed;
    overflow: auto;
}

.navbar {
    background: #073272;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #a9c0e5;
    font-size: 1.5em;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: #034174 !important;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.1em;
}

.nav-link:hover {
    color: #FFFFFF !important;
    transform: translateY(-3px);
}

.nav-link:active {
    color: #FFCA28 !important;
} 

.btn-primary {
    background: #00ACC1;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background: #00838F;
    transform: scale(1.05);
}

.table tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.1);
}

p, li, label, td, th {
    color: #ECEFF1;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px 0;
    color: #ECEFF1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

a {
    color: #ECEFF1;
    transition: color 0.3s ease;
}

a:hover {
    color: #FF7043;
    text-decoration: none;
}

legend {
    padding: 10px 0;
    color: #ECEFF1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
